# Pandas I

### To begin, we will be importing the libraries we will be using for this example:

* **pandas**: To provide high-performance, easy-to-use data structures and data analysis tools for the Python programming

* **numpy**: To add support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays.

* **matplotlib**: Plotting library for the Python programming language and its numerical mathematics extension NumPy.

#### We will be also using _%matplotlib inline_, to have the output of plotting commands displayed inline within frontends like the Jupyter notebook, directly below the code cell that produced it. The resulting plots will then also be stored in the notebook document.

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

#### Now we are ready to read the first file. As data is in csv format, we will be using the read_csv() function, which allows us to parse and load data into a dataframe (in memory) easily.

#### To see what we just read, we will be using the head() function. We can indicate the number of rows as a parameter, or by default it will show 5 rows.
####

In [76]:
Inscriptos2019 = pd.read_csv('Data/Inscriptos-Datos/Inscriptos-Datos2019-Regulares.csv', encoding='latin-1')
Inscriptos2019.head()

,Legajo,Apellido,Nombre,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad
0,99266,ALVAREZ ALONSO,FEDERICO MATIAS,Regular,Pendiente,10.0,Ingeniería en Informática,28.0
1,99522,ALVAREZ JULIA,SANTIAGO,Regular,Pendiente,10.0,Ingeniería en Informática,41.0
2,99373,ALVAREZ,FERNANDO GABRIEL,Regular,Pendiente,10.0,Ingeniería en Informática,55.0
3,98359,ALVAREZ,GONZALO EZEQUIEL,Regular,Pendiente,10.0,Ingeniería en Informática,53.0
4,90928,ALVAREZ,NATALIA NAYLA,Regular,Pendiente,10.0,Ingeniería en Informática,93.0

### DataFrame structure

#### This is how a DataFrame is shown. We can see that both the column names and the index names are in bold. Columns and index provide labels to the columns and rows, which allow for direct and easy access to different subsets of data.

#### DataFrame data (values) is always in regular font and is an entirely separate component from the columns or index.

####  Each of the three DataFrame components: the index, columns, and data; may be accessed directly from a DataFrame. Each of these components is itself a Python object with its own unique attributes and methods.

#### Let´s see how to access each of them:
####

In [77]:
Inscriptos_index = Inscriptos2019.index
Inscriptos_columns = Inscriptos2019.columns
Inscriptos_data = Inscriptos2019.values

In [78]:
Inscriptos_index

RangeIndex(start=0, stop=129, step=1)

In [79]:
Inscriptos_columns

Index(['Legajo', 'Apellido', ' Nombre', 'Calidad Insc.', 'Estado',
       'Cod. Carrera', 'Carrera', 'Prioridad'],
      dtype='object')

In [80]:
Inscriptos_data

array([[99266, 'ALVAREZ ALONSO', ' FEDERICO MATIAS', ..., 10.0,
        'Ingeniería en Informática', 28.0],
       [99522, 'ALVAREZ JULIA', ' SANTIAGO', ..., 10.0,
        'Ingeniería en Informática', 41.0],
       [99373, 'ALVAREZ', ' FERNANDO GABRIEL', ..., 10.0,
        'Ingeniería en Informática', 55.0],
       ...,
       [95758, 'ZUGNA', ' FEDERICO GABRIEL', ..., 10.0,
        'Ingeniería en Informática', 22.0],
       [81404, 'CASTELLANOS', ' CESAR', ..., nan, nan, nan],
       [103118, 'VINESSE', ' YORICK', ..., nan, nan, nan]], dtype=object)

In [81]:
type(Inscriptos_index)

pandas.core.indexes.range.RangeIndex

In [82]:
type(Inscriptos_columns)

pandas.core.indexes.base.Index

In [83]:
type(Inscriptos_data)

numpy.ndarray

### Data Types

* _bool_: Boolean, stored in a single byte
* _int_: Integer, defaulted to 64bits, also available unsigned int
* _float_: Float, defaulted to 64bits
* _complex_: Complex, rarely seen in data analysis
* _object_: Object, typically a string, but is a catch-all for columns with multiple different types or other python objects
* _datetime64_: Datetime, specific moment in time
* _timedelta64_: Timedelta, amount of time
* _category_: Categorical, used for columns with a few possible values

#### We can use _dtype_ to display the data type associated with each column
##

In [84]:
Inscriptos2019.dtypes

Legajo             int64
Apellido          object
 Nombre           object
Calidad Insc.     object
Estado            object
Cod. Carrera     float64
Carrera           object
Prioridad        float64
dtype: object

In [85]:
Inscriptos2019.get_dtype_counts()

float64    2
int64      1
object     5
dtype: int64

### Series

  It is a __single dimension__ of data, composed of just an index and the data

  We can select a column using the __index operator__, or using the __dot notation__. 

###

In [280]:
# We can indicate a column name, using the index operator:

Inscriptos2019['Apellido'].head()

0    ALVAREZ ALONSO
1     ALVAREZ JULIA
2           ALVAREZ
3           ALVAREZ
4           ALVAREZ
Name: Apellido, dtype: object

In [281]:
# We can also use the dot notation to indicate which column to select

Inscriptos2019.Apellido.head()

0    ALVAREZ ALONSO
1     ALVAREZ JULIA
2           ALVAREZ
3           ALVAREZ
4           ALVAREZ
Name: Apellido, dtype: object

### In this case, both outputs are the same, they are series. It has an index and data, the data type is the one from the column, in this case is object. 

Notice that this worked because the column name doesn´t include a blank. If the column was named business name instead of name, it whouldn´t have worked. 

Best practice is to use always the __index operator__, and avoid the use of the dot notation.
###

In [88]:
#To verify the data type of the output:

type(Inscriptos2019['Apellido'])

pandas.core.series.Series

In [89]:
type(Inscriptos2019['Apellido'].to_frame())

pandas.core.frame.DataFrame

In [318]:
Inscriptos2019['Apellido'].to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 1 columns):
Apellido    129 non-null object
dtypes: object(1)
memory usage: 1.1+ KB

### Series Methods

#### We will start understanding what methods can be applied to a series, and some examples. Methods will depend on the data type.
###

In [91]:
s_attr_methods = set(dir(pd.Series))
len(s_attr_methods)

455

In [92]:
s_attr_methods

{'T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_prepare__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_allow_index_ops',
 '_at',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_expand_axes',
 '_formatting_values',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'asobject',
 'asof',
 'astype',
 'at',
 'at_time',
 'autocorr',
 'axes',
 'base',
 'between',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'cat',
 'clip',
 'clip_lower',
 'clip_upper',
 'combine',
 'combine_first',
 'compound',
 'compress',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'data',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dt',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_array',
 'from_csv',
 'ftype',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'imag',
 'index',
 'infer_objects',
 'interpolate',
 'is_copy',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'itemsize',
 'iteritems',
 'ix',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'nonzero',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'ptp',
 'put',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'real',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'reshape',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'select',
 'sem',
 'set_axis',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'std',
 'str',
 'strides',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_period',
 'to_pickle',
 'to_sparse',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'tolist',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'valid',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs'}

In [93]:
df_attr_methods = set(dir(pd.DataFrame))
len(df_attr_methods)

462

In [94]:
df_attr_methods

{'T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_valid_indices',
 '_get_value',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_gotitem',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_csv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'is_copy',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs'}

#### As an example, we will select columns with two different data types

In [95]:
#Selecting two columns with different data types:
Inscripciones2019_legajo = Inscriptos2019['Legajo']
Inscripciones2019_apellido = Inscriptos2019['Apellido']

In [96]:
Inscripciones2019_legajo.head()

0    99266
1    99522
2    99373
3    98359
4    90928
Name: Legajo, dtype: int64

In [97]:
Inscripciones2019_apellido.head()

0    ALVAREZ ALONSO
1     ALVAREZ JULIA
2           ALVAREZ
3           ALVAREZ
4           ALVAREZ
Name: Apellido, dtype: object

### Value_Counts()

This method is usefull to understand the distribution the data on the serie contains. It´s usually more useful in object series than in numeric series

In [282]:
Inscripciones2019_legajo.value_counts().head()

87039     1
91513     1
98872     1
93157     1
101694    1
Name: Legajo, dtype: int64

In [283]:
Inscripciones2019_apellido.value_counts().head()

ALVAREZ      3
CRUZ         2
SILVESTRI    1
GARCIA       1
CATOLINO     1
Name: Apellido, dtype: int64

In [284]:
Inscripciones2019_apellido.value_counts(normalize=True).head()

ALVAREZ      0.023256
CRUZ         0.015504
SILVESTRI    0.007752
GARCIA       0.007752
CATOLINO     0.007752
Name: Apellido, dtype: float64

In [285]:
Inscriptos2019['Apellido'].value_counts(normalize=True).head()

ALVAREZ      0.023256
CRUZ         0.015504
SILVESTRI    0.007752
GARCIA       0.007752
CATOLINO     0.007752
Name: Apellido, dtype: float64

### Value_counts() return a series, where the value is the index, and the count associated to the value is the element.

#### Counting the number of elements in a serie: size, shape, len()

In [103]:
Inscriptos2019.size

1032

In [104]:
Inscriptos2019.shape

(129, 8)

In [105]:
len(Inscriptos2019)

129

In [106]:
Inscriptos2019.count()

Legajo           129
Apellido         129
 Nombre          129
Calidad Insc.    129
Estado           129
Cod. Carrera     127
Carrera          127
Prioridad        127
dtype: int64

_size_, _len_ and _count_ return __scala__ values, but _shape_ returns a __one-item tuple__.

#### Difference between size, shape, len() and Count()

In [107]:
# Although size (shape and len) will still give us the number of elements:
Inscriptos2019['Legajo'].size

129

In [108]:
# Count will give us the number of elements with values:
Inscriptos2019['Legajo'].count()

129

In [286]:
Inscriptos2019['Legajo'].isnull().head()

0    False
1    False
2    False
3    False
4    False
Name: Legajo, dtype: bool

In [110]:
Inscriptos2019['Legajo'].hasnans

False

In [111]:
Inscriptos2019.count()

Legajo           129
Apellido         129
 Nombre          129
Calidad Insc.    129
Estado           129
Cod. Carrera     127
Carrera          127
Prioridad        127
dtype: int64

In [287]:
Inscriptos2019_Apellidos = Inscriptos2019['Apellido']
Inscriptos2019_Apellidos.head()

0    ALVAREZ ALONSO
1     ALVAREZ JULIA
2           ALVAREZ
3           ALVAREZ
4           ALVAREZ
Name: Apellido, dtype: object

In [113]:
# Filling Nan with a specific value:

Inscriptos2019_sinna = Inscriptos2019.fillna('None')

In [114]:
Inscriptos2019_sinna.count()

Legajo           129
Apellido         129
 Nombre          129
Calidad Insc.    129
Estado           129
Cod. Carrera     129
Carrera          129
Prioridad        129
dtype: int64

In [115]:
# removing NaN elements:

Inscriptos2019_dropped = Inscriptos2019.dropna()

In [116]:
Inscriptos2019_dropped.count()

Legajo           127
Apellido         127
 Nombre          127
Calidad Insc.    127
Estado           127
Cod. Carrera     127
Carrera          127
Prioridad        127
dtype: int64

In [117]:
len(Inscriptos2019_dropped)

127

#### Basic Statistics: min, max, mean, median, std, sum and describe methods

In [118]:
Inscripciones2019_legajo.min(),Inscripciones2019_legajo.max(),Inscripciones2019_legajo.mean(),Inscripciones2019_legajo.median(),Inscripciones2019_legajo.std(),Inscripciones2019_legajo.sum()

(75890, 103118, 96188.2015503876, 98230.0, 5713.493296273312, 12408278)

In [119]:
Inscripciones2019_legajo.describe()

count       129.000000
mean      96188.201550
std        5713.493296
min       75890.000000
25%       93738.000000
50%       98230.000000
75%      100327.000000
max      103118.000000
Name: Legajo, dtype: float64

we can also use _describe_ in an object serie:

In [120]:
Inscripciones2019_apellido.describe()

count         129
unique        126
top       ALVAREZ
freq            3
Name: Apellido, dtype: object

### Operators on a Series

In [288]:
Inscriptos2019['Prioridad'].head()

0    28.0
1    41.0
2    55.0
3    53.0
4    93.0
Name: Prioridad, dtype: float32

In [122]:
Inscriptos2019['Prioridad'].describe()

count    127.000000
mean      55.393701
std       29.871725
min        2.000000
25%       30.000000
50%       55.000000
75%       83.500000
max      106.000000
Name: Prioridad, dtype: float64

####  Let´s imagine we want to modify the scale, and make it to 10 (by duplicating it, not exactly right but let´s imagine just for this example...) we need to multiply it by 2

In [289]:
(Inscriptos2019['Prioridad'] * 2).head()

0     56.0
1     82.0
2    110.0
3    106.0
4    186.0
Name: Prioridad, dtype: float32

If we multiply a series it will return another series, with that operation applied to each of the elemnts. We can also use other operators as sum (+), minus (-), division (//), and exponentiation (**). Note that consecutive division operators (//) is used for floor division and the percent sign (%) for the modulus operator, which returns the remainder after a division.

We can also use comparison opperators, like __greater than__ (>), __less than__ (<), __greater than or equal to__ (>=), __less than or equal to__ (<=), __equal to__ (==), and __not equal to__ (!=). These also return a seris, where each elemen is True or False based on the result of the comparison.

In [124]:
(Inscriptos2019['Prioridad']>30).value_counts()

True     93
False    36
Name: Prioridad, dtype: int64

#### For every operator, there is also a method that does the same thing:

#### Arithmetic

* instead of +, -, *, /, //, %, **   We can use: add, sub, mul, div, floordiv, mod, pow 

#### Comparison 

* Instead of <, >, <=, >=, ==, !=  We can use:  lt, gt, le, ge, eq, ne

In [125]:
Inscriptos2019['Prioridad'].gt(30).value_counts()

True     93
False    36
Name: Prioridad, dtype: int64

### Chaining Series Methods Together

#### As methods usually return other series or dataframes, it is possible to concatenate two or more methods.

* We use dot (.) to concatenate methods
* We use back-slash (\\) to continue the sentence in the following line
* To facilitate reading, we try to use only one method per line
* We can also use parentheses to indicate the whole sentense

Let´s say we want to count the NaN values on Prioridad, we can do it using isnll() and sum() methods:

In [126]:
Inscriptos2019['Prioridad'].isnull().sum()

2

Or the average of NaN with mean()

In [127]:
Inscriptos2019['Prioridad'].isnull().mean()

0.015503875968992248

To split the line in two different lines, we can use \

In [128]:
Inscriptos2019['Prioridad'].isnull()\
    .mean()

0.015503875968992248

In [129]:
Oyentes2019 = pd.read_csv('Data/Inscriptos-Datos/Inscriptos-Datos2019-Oyentes.csv', encoding='latin-1')
Oyentes2019.head()

     Apellido            Nombre Calidad
0    D´ANDREA   MARIA FLORENCIA  Oyente
1     SAUCEDO            JIMENA  Oyente
2  DOMBROVSKY             NILDA  Oyente
3      MAZZEO         ANTONELLA  Oyente
4    LISOUSKI            XIMENA  Oyente

In [130]:
len(Oyentes2019)

44

In [131]:
len(Inscriptos2019)

129

### Indexes

* Indexes provide a label for each row
* If no index is explicitly provided, a RangeIndex is created with labels starting in 0 
####

If we go back to our example, Inscriptos did have a __RangeIndex__:

In [290]:
Inscriptos2019.head()

,Legajo,Apellido,Nombre,Presentes,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad
0,99266,ALVAREZ ALONSO,FEDERICO MATIAS,0,Regular,Pendiente,10.0,Ingeniería en Informática,28.0
1,99522,ALVAREZ JULIA,SANTIAGO,0,Regular,Pendiente,10.0,Ingeniería en Informática,41.0
2,99373,ALVAREZ,FERNANDO GABRIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,55.0
3,98359,ALVAREZ,GONZALO EZEQUIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,53.0
4,90928,ALVAREZ,NATALIA NAYLA,0,Regular,Pendiente,10.0,Ingeniería en Informática,93.0

We can change the index and use business Id instead, using the set_index method:

In [291]:
Inscriptos_byPadron = Inscriptos2019.set_index('Legajo')
Inscriptos_byPadron.head()

,Apellido,Nombre,Presentes,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad
Legajo,,,,,,,,
99266,ALVAREZ ALONSO,FEDERICO MATIAS,0,Regular,Pendiente,10.0,Ingeniería en Informática,28.0
99522,ALVAREZ JULIA,SANTIAGO,0,Regular,Pendiente,10.0,Ingeniería en Informática,41.0
99373,ALVAREZ,FERNANDO GABRIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,55.0
98359,ALVAREZ,GONZALO EZEQUIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,53.0
90928,ALVAREZ,NATALIA NAYLA,0,Regular,Pendiente,10.0,Ingeniería en Informática,93.0

In [134]:
Inscriptos_byPadron = pd.read_csv('Data/Inscriptos-Datos/Inscriptos-Datos2019-Regulares.csv',index_col='Legajo', encoding='latin-1')
Inscriptos_byPadron.head()

,Apellido,Nombre,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad
Legajo,,,,,,,
99266,ALVAREZ ALONSO,FEDERICO MATIAS,Regular,Pendiente,10.0,Ingeniería en Informática,28.0
99522,ALVAREZ JULIA,SANTIAGO,Regular,Pendiente,10.0,Ingeniería en Informática,41.0
99373,ALVAREZ,FERNANDO GABRIEL,Regular,Pendiente,10.0,Ingeniería en Informática,55.0
98359,ALVAREZ,GONZALO EZEQUIEL,Regular,Pendiente,10.0,Ingeniería en Informática,53.0
90928,ALVAREZ,NATALIA NAYLA,Regular,Pendiente,10.0,Ingeniería en Informática,93.0

We can eliminate the index using the reset_index method:

In [292]:
Inscriptos_byPadron.reset_index().head()

,Legajo,Apellido,Nombre,Presentes,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad
0,99266,ALVAREZ ALONSO,FEDERICO MATIAS,0,Regular,Pendiente,10.0,Ingeniería en Informática,28.0
1,99522,ALVAREZ JULIA,SANTIAGO,0,Regular,Pendiente,10.0,Ingeniería en Informática,41.0
2,99373,ALVAREZ,FERNANDO GABRIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,55.0
3,98359,ALVAREZ,GONZALO EZEQUIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,53.0
4,90928,ALVAREZ,NATALIA NAYLA,0,Regular,Pendiente,10.0,Ingeniería en Informática,93.0

#### In both cases we can see that business_id is set as the DataFrame index, and there is no business_id column. If we want to still have a business_id column we can use set_index with the parameter drop = False

In [293]:
Inscriptos_byPadron = Inscriptos2019.set_index('Legajo',drop=False)
Inscriptos_byPadron.head()

,Legajo,Apellido,Nombre,Presentes,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad
Legajo,,,,,,,,,
99266,99266,ALVAREZ ALONSO,FEDERICO MATIAS,0,Regular,Pendiente,10.0,Ingeniería en Informática,28.0
99522,99522,ALVAREZ JULIA,SANTIAGO,0,Regular,Pendiente,10.0,Ingeniería en Informática,41.0
99373,99373,ALVAREZ,FERNANDO GABRIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,55.0
98359,98359,ALVAREZ,GONZALO EZEQUIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,53.0
90928,90928,ALVAREZ,NATALIA NAYLA,0,Regular,Pendiente,10.0,Ingeniería en Informática,93.0

### Renaming Row and Column Names

* To make them more descriptive
* To follow a standard
* To avoid blanks, and other special characters

In [259]:
Inscriptos_byPadron = pd.read_csv('Data/Inscriptos-Datos/Inscriptos-Datos2019-Regulares.csv',index_col='Legajo', encoding='latin-1')
Inscriptos_byPadron.head()

,Apellido,Nombre,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad
Legajo,,,,,,,
99266,ALVAREZ ALONSO,FEDERICO MATIAS,Regular,Pendiente,10.0,Ingeniería en Informática,28.0
99522,ALVAREZ JULIA,SANTIAGO,Regular,Pendiente,10.0,Ingeniería en Informática,41.0
99373,ALVAREZ,FERNANDO GABRIEL,Regular,Pendiente,10.0,Ingeniería en Informática,55.0
98359,ALVAREZ,GONZALO EZEQUIEL,Regular,Pendiente,10.0,Ingeniería en Informática,53.0
90928,ALVAREZ,NATALIA NAYLA,Regular,Pendiente,10.0,Ingeniería en Informática,93.0

In [294]:
idx_rename={'99266':'99265'}
col_rename={'Calidad Insc.':'Tipo','Legajo':'Padron'}
Inscriptos_byPadron_renamed=Inscriptos_byPadron.rename(index=idx_rename, columns=col_rename)
Inscriptos_byPadron_renamed.head()

,Padron,Apellido,Nombre,Presentes,Tipo,Estado,Cod. Carrera,Carrera,Prioridad
Legajo,,,,,,,,,
99266,99266,ALVAREZ ALONSO,FEDERICO MATIAS,0,Regular,Pendiente,10.0,Ingeniería en Informática,28.0
99522,99522,ALVAREZ JULIA,SANTIAGO,0,Regular,Pendiente,10.0,Ingeniería en Informática,41.0
99373,99373,ALVAREZ,FERNANDO GABRIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,55.0
98359,98359,ALVAREZ,GONZALO EZEQUIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,53.0
90928,90928,ALVAREZ,NATALIA NAYLA,0,Regular,Pendiente,10.0,Ingeniería en Informática,93.0

There are other ways to rename the index or column. Any list of values can be assigned as an index, as soon as it has the right number of elements.

In [295]:
# We can obtain index and column from business dataframe:
Inscriptos_index=Inscriptos_byPadron.index
Inscriptos_columns=Inscriptos_byPadron.columns
index_list=Inscriptos_index.tolist()
columns_list=Inscriptos_columns.tolist()
# And rename one or more elements of the lists
index_list[0]='11111'
columns_list[4]='Cod_Carrera'
# Finally we assign it back to the Data Frame
Inscriptos_byPadron.index=index_list
Inscriptos_byPadron.columns=columns_list
Inscriptos_byPadron.head()

,Legajo,Apellido,Nombre,Presentes,Cod_Carrera,Estado,Cod. Carrera,Carrera,Prioridad
11111,99266,ALVAREZ ALONSO,FEDERICO MATIAS,0,Regular,Pendiente,10.0,Ingeniería en Informática,28.0
99522,99522,ALVAREZ JULIA,SANTIAGO,0,Regular,Pendiente,10.0,Ingeniería en Informática,41.0
99373,99373,ALVAREZ,FERNANDO GABRIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,55.0
98359,98359,ALVAREZ,GONZALO EZEQUIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,53.0
90928,90928,ALVAREZ,NATALIA NAYLA,0,Regular,Pendiente,10.0,Ingeniería en Informática,93.0

### Creating and Deleting Columns in a DataFrame

In [296]:
# We can easily create a new column by assigning values to it:
Inscriptos2019['Presentes']=0
Inscriptos2019.head()

,Legajo,Apellido,Nombre,Presentes,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad
0,99266,ALVAREZ ALONSO,FEDERICO MATIAS,0,Regular,Pendiente,10.0,Ingeniería en Informática,28.0
1,99522,ALVAREZ JULIA,SANTIAGO,0,Regular,Pendiente,10.0,Ingeniería en Informática,41.0
2,99373,ALVAREZ,FERNANDO GABRIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,55.0
3,98359,ALVAREZ,GONZALO EZEQUIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,53.0
4,90928,ALVAREZ,NATALIA NAYLA,0,Regular,Pendiente,10.0,Ingeniería en Informática,93.0

To add a column (at the end) indicating if the business is a top business:

In [297]:
Inscriptos2019['Top_Priority']=(Inscriptos2019['Prioridad']<25)
Inscriptos2019.head()

,Legajo,Apellido,Nombre,Presentes,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad,Top_Priority
0,99266,ALVAREZ ALONSO,FEDERICO MATIAS,0,Regular,Pendiente,10.0,Ingeniería en Informática,28.0,False
1,99522,ALVAREZ JULIA,SANTIAGO,0,Regular,Pendiente,10.0,Ingeniería en Informática,41.0,False
2,99373,ALVAREZ,FERNANDO GABRIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,55.0,False
3,98359,ALVAREZ,GONZALO EZEQUIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,53.0,False
4,90928,ALVAREZ,NATALIA NAYLA,0,Regular,Pendiente,10.0,Ingeniería en Informática,93.0,False

In [147]:
Inscriptos2019.set_index('Legajo')['Top_Priority'].head()

Legajo
99266    False
99522    False
99373    False
98359    False
90928    False
Name: Top_Priority, dtype: bool

In [298]:
# We can delete the column just created using the drop method:
Inscriptos2019=Inscriptos2019.drop('Presentes',axis='columns')
Inscriptos2019.head()

,Legajo,Apellido,Nombre,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad,Top_Priority
0,99266,ALVAREZ ALONSO,FEDERICO MATIAS,Regular,Pendiente,10.0,Ingeniería en Informática,28.0,False
1,99522,ALVAREZ JULIA,SANTIAGO,Regular,Pendiente,10.0,Ingeniería en Informática,41.0,False
2,99373,ALVAREZ,FERNANDO GABRIEL,Regular,Pendiente,10.0,Ingeniería en Informática,55.0,False
3,98359,ALVAREZ,GONZALO EZEQUIEL,Regular,Pendiente,10.0,Ingeniería en Informática,53.0,False
4,90928,ALVAREZ,NATALIA NAYLA,Regular,Pendiente,10.0,Ingeniería en Informática,93.0,False

If we want to add a column, but in a specific possition, we need to indicate that possition.
Let´s add the column after the Name To do that we calculate the possition of the Name and calulate it +1

In [157]:
Inscriptos2019_index=Inscriptos2019.columns.get_loc(' Nombre')+1
Inscriptos2019_index

3

Now, we use the insert method, indicating the possition we want:

In [299]:
Inscriptos2019.insert(loc=Inscriptos2019_index, column='Presentes', value=0)
Inscriptos2019.head()

,Legajo,Apellido,Nombre,Presentes,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad,Top_Priority
0,99266,ALVAREZ ALONSO,FEDERICO MATIAS,0,Regular,Pendiente,10.0,Ingeniería en Informática,28.0,False
1,99522,ALVAREZ JULIA,SANTIAGO,0,Regular,Pendiente,10.0,Ingeniería en Informática,41.0,False
2,99373,ALVAREZ,FERNANDO GABRIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,55.0,False
3,98359,ALVAREZ,GONZALO EZEQUIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,53.0,False
4,90928,ALVAREZ,NATALIA NAYLA,0,Regular,Pendiente,10.0,Ingeniería en Informática,93.0,False

 We can delete the new column using drop as before, or using del with the following sintax:

In [159]:
del Inscriptos2019['Top_Priority']

In [300]:
Inscriptos2019.head()

,Legajo,Apellido,Nombre,Presentes,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad,Top_Priority
0,99266,ALVAREZ ALONSO,FEDERICO MATIAS,0,Regular,Pendiente,10.0,Ingeniería en Informática,28.0,False
1,99522,ALVAREZ JULIA,SANTIAGO,0,Regular,Pendiente,10.0,Ingeniería en Informática,41.0,False
2,99373,ALVAREZ,FERNANDO GABRIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,55.0,False
3,98359,ALVAREZ,GONZALO EZEQUIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,53.0,False
4,90928,ALVAREZ,NATALIA NAYLA,0,Regular,Pendiente,10.0,Ingeniería en Informática,93.0,False

### Data Frame Operations

#### We will now review other methods that apply to Data Frames, how to select multiple rows, how to chain multiple methods, etc

In [301]:
# Similar to what we did when selecting one column, but instead of providing a column name, we will be passing a list of columns:
Inscriptos2019_Reduced = Inscriptos2019[['Legajo','Apellido',' Nombre','Calidad Insc.']]
Inscriptos2019_Reduced.head()

   Legajo        Apellido             Nombre Calidad Insc.
0   99266  ALVAREZ ALONSO    FEDERICO MATIAS       Regular
1   99522   ALVAREZ JULIA           SANTIAGO       Regular
2   99373         ALVAREZ   FERNANDO GABRIEL       Regular
3   98359         ALVAREZ   GONZALO EZEQUIEL       Regular
4   90928         ALVAREZ      NATALIA NAYLA       Regular

#### Selecting columns with methods

In [163]:
Inscriptos2019.get_dtype_counts()

float64    2
int64      2
object     5
dtype: int64

In [164]:
# we can select colums with a specific data type using the select_dtypes method.
# using the parameter include we can indicate the data type we are looking for:
Inscriptos2019.select_dtypes(include=['int64','float64']).head()

   Legajo  Presentes  Cod. Carrera  Prioridad
0   99266          0          10.0       28.0
1   99522          0          10.0       41.0
2   99373          0          10.0       55.0
3   98359          0          10.0       53.0
4   90928          0          10.0       93.0

We can also select all numeric columns using include='number':

In [302]:
Inscriptos2019.select_dtypes(include='number').head()

   Legajo  Presentes  Prioridad
0   99266          0       28.0
1   99522          0       41.0
2   99373          0       55.0
3   98359          0       53.0
4   90928          0       93.0

We can also select specific columns by filtering contect on the column names.

In [166]:

Inscriptos2019.filter(like='Carrera').head()

   Cod. Carrera                    Carrera
0          10.0  Ingeniería en Informática
1          10.0  Ingeniería en Informática
2          10.0  Ingeniería en Informática
3          10.0  Ingeniería en Informática
4          10.0  Ingeniería en Informática

Filter also allows regular expressions:

In [168]:
Inscriptos2019.filter(regex='\ ').head()

              Nombre Calidad Insc.  Cod. Carrera
0    FEDERICO MATIAS       Regular          10.0
1           SANTIAGO       Regular          10.0
2   FERNANDO GABRIEL       Regular          10.0
3   GONZALO EZEQUIEL       Regular          10.0
4      NATALIA NAYLA       Regular          10.0

In [303]:
# Lastly, using items parameter we can indicate the list of columns to select:
Inscriptos2019.filter(items=['Legajo']).head()

   Legajo
0   99266
1   99522
2   99373
3   98359
4   90928

### Ordering Columns

In [170]:
Inscriptos2019.columns

Index(['Legajo', 'Apellido', ' Nombre', 'Presentes', 'Calidad Insc.', 'Estado',
       'Cod. Carrera', 'Carrera', 'Prioridad'],
      dtype='object')

In [171]:
new_col_order = ['Legajo', 'Apellido', ' Nombre', 'Presentes', 'Cod. Carrera', 'Carrera', 'Prioridad', 'Calidad Insc.', 'Estado']

Inscriptos2019_NewColOrder = Inscriptos2019[new_col_order]
Inscriptos2019_NewColOrder.head()

,Legajo,Apellido,Nombre,Presentes,Cod. Carrera,Carrera,Prioridad,Calidad Insc.,Estado
0,99266,ALVAREZ ALONSO,FEDERICO MATIAS,0,10.0,Ingeniería en Informática,28.0,Regular,Pendiente
1,99522,ALVAREZ JULIA,SANTIAGO,0,10.0,Ingeniería en Informática,41.0,Regular,Pendiente
2,99373,ALVAREZ,FERNANDO GABRIEL,0,10.0,Ingeniería en Informática,55.0,Regular,Pendiente
3,98359,ALVAREZ,GONZALO EZEQUIEL,0,10.0,Ingeniería en Informática,53.0,Regular,Pendiente
4,90928,ALVAREZ,NATALIA NAYLA,0,10.0,Ingeniería en Informática,93.0,Regular,Pendiente

### DataFrame Attributes

In [172]:
Inscriptos2019.shape

(129, 9)

In [173]:
Inscriptos2019.size

1161

In [174]:
Inscriptos2019.ndim

2

In [175]:
len(Inscriptos2019)

129

In [176]:
Inscriptos2019.count()

Legajo           129
Apellido         129
 Nombre          129
Presentes        129
Calidad Insc.    129
Estado           129
Cod. Carrera     127
Carrera          127
Prioridad        127
dtype: int64

In [177]:
Inscriptos2019.min()

Legajo                      75890
Apellido                  ALVAREZ
 Nombre           AGUSTIN GABRIEL
Presentes                       0
Calidad Insc.             Regular
Estado                  Pendiente
Cod. Carrera                    9
Prioridad                       2
dtype: object

In [179]:
Inscriptos2019.min(skipna=False)

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_methods.py:29: RuntimeWarning: invalid value encountered in reduce
  return umr_minimum(a, axis, None, out, keepdims)

Legajo                      75890
Apellido                  ALVAREZ
 Nombre           AGUSTIN GABRIEL
Presentes                       0
Calidad Insc.             Regular
Estado                  Pendiente
Cod. Carrera                  NaN
Prioridad                     NaN
dtype: object

We could calculate the _mean()_ of all numeric columns by doing business.mean() but we have latitude and longitude, so we better eliminate them from the example and calculate it for __stars__ and __review_count only__

In [181]:
Inscriptos2019.mean()

Legajo          96188.201550
Presentes           0.000000
Cod. Carrera        9.622047
Prioridad          55.393701
dtype: float64

In [184]:
Inscriptos2019[['Presentes','Prioridad']].mean()

Presentes     0.000000
Prioridad    55.393701
dtype: float64

Same as before, if we don't indicate anything, it will do it for __all numeric columns__, but we don´t want to do a describe of latitude and longitude columns...

In [185]:
Inscriptos2019[['Presentes','Prioridad']].describe()

       Presentes   Prioridad
count      129.0  127.000000
mean         0.0   55.393701
std          0.0   29.871725
min          0.0    2.000000
25%          0.0   30.000000
50%          0.0   55.000000
75%          0.0   83.500000
max          0.0  106.000000

In [186]:
Inscriptos2019[['Presentes','Prioridad']].describe(percentiles=[.05, .45, .90])

       Presentes   Prioridad
count      129.0  127.000000
mean         0.0   55.393701
std          0.0   29.871725
min          0.0    2.000000
5%           0.0    9.000000
45%          0.0   49.100000
50%          0.0   55.000000
90%          0.0   97.000000
max          0.0  106.000000

### Chaining Data Frame Methods

In [187]:
# Let´s see if the values of a data frame are null. The isnull method returns a data frame with the same structure as the original one, but with bool values indicating if that specific value is null or not in the original data frame.
Inscriptos2019.isnull().head()

,Legajo,Apellido,Nombre,Presentes,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False

True/False values can be sum, and interpreted as 1/0s. Because of that, the following methods will return the number of nulls in each column.

In [189]:
Inscriptos2019.isnull().sum()

Legajo           0
Apellido         0
 Nombre          0
Presentes        0
Calidad Insc.    0
Estado           0
Cod. Carrera     2
Carrera          2
Prioridad        2
dtype: int64

If we do count, we can see it gives the opposite result, the number of values that are not null in each column:

In [190]:
Inscriptos2019.count()

Legajo           129
Apellido         129
 Nombre          129
Presentes        129
Calidad Insc.    129
Estado           129
Cod. Carrera     127
Carrera          127
Prioridad        127
dtype: int64

If we want to sum the sum result, we will be adding the elements in a series, and returning a number with the total number of nulls in the data frame:

In [191]:
Inscriptos2019.isnull().sum().sum()

6

With the following sequence, we can see if there is any null value in the data frame (if we don´t need to know the exact number)

In [192]:
Inscriptos2019.isnull().any().any()

True

In [193]:
Inscriptos2019.min()

Legajo                      75890
Apellido                  ALVAREZ
 Nombre           AGUSTIN GABRIEL
Presentes                       0
Calidad Insc.             Regular
Estado                  Pendiente
Cod. Carrera                    9
Prioridad                       2
dtype: object

In [194]:
Inscriptos2019.select_dtypes(['number']).fillna(0).min()

Legajo          75890.0
Presentes           0.0
Cod. Carrera        0.0
Prioridad           0.0
dtype: float64

### Comparing missing values

In [195]:
np.nan == np.nan

False

In [196]:
None == None

True

In [197]:
np.nan > 10

False

In [198]:
np.nan < 10

False

In [199]:
np.nan != 10

True

### We saw Nan values will not match equal to any value. Because of this behaviour, the correct way to compare two data frames is using the equals method and not the == operator

In [304]:
(Inscriptos2019['Prioridad'] == Inscriptos2019['Prioridad']).head()

0    True
1    True
2    True
3    True
4    True
Name: Prioridad, dtype: bool

In [202]:
Inscriptos2019['Prioridad'].equals(Inscriptos2019['Prioridad'])

True

In [203]:
from pandas.testing import assert_frame_equal
assert_frame_equal(Inscriptos2019,Inscriptos2019)

### Beginning Data Analysis

#### In order to analyze the data, we need to develop a frame where we will start with certain basic operations:

* Exploratory Data Analysis
* Developing a data analysis routine 
* Reducing memory by changing data types 
* Selecting the smallest of the largest 
* Selecting the largest of each group by sorting 
* Replicating nlargest with sort_values 
* Calculating a trailing stop order price

Start by obtaining basic summary information of the dataframe:

In [204]:
Inscriptos2019.head()

,Legajo,Apellido,Nombre,Presentes,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad
0,99266,ALVAREZ ALONSO,FEDERICO MATIAS,0,Regular,Pendiente,10.0,Ingeniería en Informática,28.0
1,99522,ALVAREZ JULIA,SANTIAGO,0,Regular,Pendiente,10.0,Ingeniería en Informática,41.0
2,99373,ALVAREZ,FERNANDO GABRIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,55.0
3,98359,ALVAREZ,GONZALO EZEQUIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,53.0
4,90928,ALVAREZ,NATALIA NAYLA,0,Regular,Pendiente,10.0,Ingeniería en Informática,93.0

In [205]:
Inscriptos2019.shape

(129, 9)

In [206]:
Inscriptos2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 9 columns):
Legajo           129 non-null int64
Apellido         129 non-null object
 Nombre          129 non-null object
Presentes        129 non-null int64
Calidad Insc.    129 non-null object
Estado           129 non-null object
Cod. Carrera     127 non-null float64
Carrera          127 non-null object
Prioridad        127 non-null float64
dtypes: float64(2), int64(2), object(5)
memory usage: 9.1+ KB

In [208]:
Inscriptos2019.describe()

              Legajo  Presentes  Cod. Carrera   Prioridad
count     129.000000      129.0    127.000000  127.000000
mean    96188.201550        0.0      9.622047   55.393701
std      5713.493296        0.0      0.486796   29.871725
min     75890.000000        0.0      9.000000    2.000000
25%     93738.000000        0.0      9.000000   30.000000
50%     98230.000000        0.0     10.000000   55.000000
75%    100327.000000        0.0     10.000000   83.500000
max    103118.000000        0.0     10.000000  106.000000

In [209]:
Inscriptos2019.describe(include=np.int64)

              Legajo  Presentes
count     129.000000      129.0
mean    96188.201550        0.0
std      5713.493296        0.0
min     75890.000000        0.0
25%     93738.000000        0.0
50%     98230.000000        0.0
75%    100327.000000        0.0
max    103118.000000        0.0

In [210]:
Inscriptos2019.describe(include=np.int64, percentiles=[.01,.05,.15,.25,.45,.65,.75,.95]).T

,count,mean,std,min,1%,5%,15%,25%,45%,50%,65%,75%,95%,max
Legajo,129.0,96188.20155,5713.493296,75890.0,79041.56,83791.8,90446.8,93738.0,97531.8,98230.0,99449.0,100327.0,101936.6,103118.0
Presentes,129.0,0.00000,0.000000,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Understanding (and reducing) memory usage

In [211]:
Inscriptos2019.memory_usage(deep=True)

Index               80
Legajo            1032
Apellido          8552
 Nombre           9444
Presentes         1032
Calidad Insc.     8256
Estado            8514
Cod. Carrera      1032
Carrera          14054
Prioridad         1032
dtype: int64

In [214]:
Inscriptos2019['Presentes']=Inscriptos2019['Presentes'].astype(np.int8)

In [216]:
Inscriptos2019['Prioridad']=Inscriptos2019['Prioridad'].astype(np.float32)

In [217]:
Inscriptos2019.memory_usage(deep=True)

Index               80
Legajo            1032
Apellido          8552
 Nombre           9444
Presentes          129
Calidad Insc.     8256
Estado            8514
Cod. Carrera      1032
Carrera          14054
Prioridad          516
dtype: int64

Other thing to review is the number of unique values each column has:

In [218]:
Inscriptos2019.nunique()

Legajo           129
Apellido         126
 Nombre          121
Presentes          1
Calidad Insc.      1
Estado             1
Cod. Carrera       2
Carrera            2
Prioridad         69
dtype: int64

In [219]:
Inscriptos2019['Cod. Carrera']=Inscriptos2019['Cod. Carrera'].astype('category')

In [220]:
Inscriptos2019['Carrera']=Inscriptos2019['Carrera'].astype('category')

In [221]:
Inscriptos2019.memory_usage(deep=True)

Index              80
Legajo           1032
Apellido         8599
 Nombre          9711
Presentes         129
Calidad Insc.    8256
Estado           8514
Cod. Carrera      225
Carrera           432
Prioridad         516
dtype: int64

In [223]:
Inscriptos2019.dtypes

Legajo              int64
Apellido           object
 Nombre            object
Presentes            int8
Calidad Insc.      object
Estado             object
Cod. Carrera     category
Carrera          category
Prioridad         float32
dtype: object

### Selecting the smallest of the largest
#### Using nlargest y nsmallest methods

In [305]:
Inscriptos2019_Reduced = Inscriptos2019[['Legajo','Apellido',' Nombre','Prioridad']]
Inscriptos2019_Reduced.head()

   Legajo        Apellido             Nombre  Prioridad
0   99266  ALVAREZ ALONSO    FEDERICO MATIAS       28.0
1   99522   ALVAREZ JULIA           SANTIAGO       41.0
2   99373         ALVAREZ   FERNANDO GABRIEL       55.0
3   98359         ALVAREZ   GONZALO EZEQUIEL       53.0
4   90928         ALVAREZ      NATALIA NAYLA       93.0

In [225]:
Inscriptos2019_Reduced.nlargest(10,'Prioridad').head()

    Legajo        Apellido              Nombre  Prioridad
76   75890           MAGRI   DARIO MAXIMILIANO      106.0
16   97190      BRAGANTINI       FRANCO JULIAN      105.0
47   87039     FLORES SOSA      ZORAIDA YURICO      105.0
97   94254         PEYRANO        DIEGO JAVIER      105.0
27   93738  CHOQUE CARMONA        LUIS ALBERTO      103.0

In [226]:
Inscriptos2019_Reduced.nsmallest(10,'Prioridad').head()

    Legajo              Apellido                Nombre  Prioridad
69   98432              LA PENNA               MARIANO        2.0
67  100596                  KLER   ALEJANDRO SEBASTIAN        4.0
60   79979              GONZALEZ           JUAN MANUEL        5.0
19   89603            BUSTAMANTE           JORGE TOMAS        6.0
29   94181  COLQUE PARIHUANCOLLO        MICHAEL ARNOLD        9.0

In [306]:
Inscriptos2019_Reduced.sort_values('Prioridad',ascending=False).head()

    Legajo        Apellido              Nombre  Prioridad
76   75890           MAGRI   DARIO MAXIMILIANO      106.0
47   87039     FLORES SOSA      ZORAIDA YURICO      105.0
16   97190      BRAGANTINI       FRANCO JULIAN      105.0
97   94254         PEYRANO        DIEGO JAVIER      105.0
27   93738  CHOQUE CARMONA        LUIS ALBERTO      103.0

In [307]:
Inscriptos2019_Reduced.sort_values('Prioridad').head()

     Legajo    Apellido                Nombre  Prioridad
69    98432    LA PENNA               MARIANO        2.0
67   100596        KLER   ALEJANDRO SEBASTIAN        4.0
60    79979    GONZALEZ           JUAN MANUEL        5.0
19    89603  BUSTAMANTE           JORGE TOMAS        6.0
108   98535       ROSAS      MARTIN ALEJANDRO        9.0

### Selecting subsets of data

* Selecting Series data 
* Selecting DataFrame rows 
* Selecting DataFrame rows and columns simultaneously 
* Selecting data with both integers and labels 
* Speeding up scalar selection 
* Slicing rows lazily Slicing lexicographically

In [229]:
Inscriptos2019.head()

,Legajo,Apellido,Nombre,Presentes,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad
0,99266,ALVAREZ ALONSO,FEDERICO MATIAS,0,Regular,Pendiente,10.0,Ingeniería en Informática,28.0
1,99522,ALVAREZ JULIA,SANTIAGO,0,Regular,Pendiente,10.0,Ingeniería en Informática,41.0
2,99373,ALVAREZ,FERNANDO GABRIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,55.0
3,98359,ALVAREZ,GONZALO EZEQUIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,53.0
4,90928,ALVAREZ,NATALIA NAYLA,0,Regular,Pendiente,10.0,Ingeniería en Informática,93.0

In [230]:
Inscriptos2019.iloc[3]

Legajo                               98359
Apellido                           ALVAREZ
 Nombre                   GONZALO EZEQUIEL
Presentes                                0
Calidad Insc.                      Regular
Estado                           Pendiente
Cod. Carrera                            10
Carrera          Ingeniería en Informática
Prioridad                               53
Name: 3, dtype: object

In [231]:
Inscriptos2019.iloc[0:6]

,Legajo,Apellido,Nombre,Presentes,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad
0,99266,ALVAREZ ALONSO,FEDERICO MATIAS,0,Regular,Pendiente,10.0,Ingeniería en Informática,28.0
1,99522,ALVAREZ JULIA,SANTIAGO,0,Regular,Pendiente,10.0,Ingeniería en Informática,41.0
2,99373,ALVAREZ,FERNANDO GABRIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,55.0
3,98359,ALVAREZ,GONZALO EZEQUIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,53.0
4,90928,ALVAREZ,NATALIA NAYLA,0,Regular,Pendiente,10.0,Ingeniería en Informática,93.0
5,93584,AMURRIO,GASTÓN LEONARDO,0,Regular,Pendiente,9.0,Licenciatura en Análisis de Sistemas,85.0

In [232]:
Inscriptos2019.iloc[3:6]

,Legajo,Apellido,Nombre,Presentes,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad
3,98359,ALVAREZ,GONZALO EZEQUIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,53.0
4,90928,ALVAREZ,NATALIA NAYLA,0,Regular,Pendiente,10.0,Ingeniería en Informática,93.0
5,93584,AMURRIO,GASTÓN LEONARDO,0,Regular,Pendiente,9.0,Licenciatura en Análisis de Sistemas,85.0

In [233]:
Inscriptos2019.iloc[10:20:2]

,Legajo,Apellido,Nombre,Presentes,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad
10,99402,BATISTA,GONZALO,0,Regular,Pendiente,9.0,Licenciatura en Análisis de Sistemas,53.0
12,101135,BEROCH,SANTIAGO,0,Regular,Pendiente,10.0,Ingeniería en Informática,39.0
14,101076,BONFIL,LUCAS JAVIER,0,Regular,Pendiente,9.0,Licenciatura en Análisis de Sistemas,47.0
16,97190,BRAGANTINI,FRANCO JULIAN,0,Regular,Pendiente,10.0,Ingeniería en Informática,105.0
18,101694,BUGLIOT,NICOLAS,0,Regular,Pendiente,9.0,Licenciatura en Análisis de Sistemas,60.0

In [235]:
Inscriptos2019.loc[3]

Legajo                               98359
Apellido                           ALVAREZ
 Nombre                   GONZALO EZEQUIEL
Presentes                                0
Calidad Insc.                      Regular
Estado                           Pendiente
Cod. Carrera                            10
Carrera          Ingeniería en Informática
Prioridad                               53
Name: 3, dtype: object

In [237]:
Inscriptos2019.loc[[3,5]]

,Legajo,Apellido,Nombre,Presentes,Calidad Insc.,Estado,Cod. Carrera,Carrera,Prioridad
3,98359,ALVAREZ,GONZALO EZEQUIEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,53.0
5,93584,AMURRIO,GASTÓN LEONARDO,0,Regular,Pendiente,9.0,Licenciatura en Análisis de Sistemas,85.0

### Selecting Data Frame Columns and Rows simultaneously

#### _loc_ and _iloc_ allows us to do it

In [239]:
Inscriptos2019.iloc[1,2]

' SANTIAGO'

In [240]:
Inscriptos2019.iloc[:1,:2]

   Legajo        Apellido
0   99266  ALVAREZ ALONSO

In [308]:
Inscriptos2019.iloc[:,[1,3]].head()

         Apellido  Presentes
0  ALVAREZ ALONSO          0
1   ALVAREZ JULIA          0
2         ALVAREZ          0
3         ALVAREZ          0
4         ALVAREZ          0

In [309]:
Inscriptos2019.loc[:,['Apellido','Presentes']].head()

         Apellido  Presentes
0  ALVAREZ ALONSO          0
1   ALVAREZ JULIA          0
2         ALVAREZ          0
3         ALVAREZ          0
4         ALVAREZ          0

In [319]:
Inscriptos2019.iloc[2:10:2,[1,3]]

    Apellido  Presentes
2    ALVAREZ          0
4    ALVAREZ          0
6       ANCA          0
8  ARISTEGUI          0

In [320]:
Inscriptos2019.loc[2:10:2,['Apellido','Presentes']]

     Apellido  Presentes
2     ALVAREZ          0
4     ALVAREZ          0
6        ANCA          0
8   ARISTEGUI          0
10    BATISTA          0

In [267]:
(Inscriptos_byPadron['Cod. Carrera']==10).sum()

79

In [268]:
(Inscriptos_byPadron['Cod. Carrera']==10).mean()

0.6124031007751938

In [269]:
(Inscriptos_byPadron['Cod. Carrera']==10).value_counts()

True     79
False    50
Name: Cod. Carrera, dtype: int64

In [310]:
(Inscriptos_byPadron['Prioridad']<25).head()

11111    False
99522    False
99373    False
98359    False
90928    False
Name: Prioridad, dtype: bool

In [311]:
((Inscriptos_byPadron['Cod. Carrera']==10) & (Inscriptos_byPadron['Prioridad']<25)).head()

11111    False
99522    False
99373    False
98359    False
90928    False
dtype: bool

In [313]:
((Inscriptos_byPadron['Cod. Carrera']==10) & (Inscriptos_byPadron['Prioridad']<25)).sum()

13

In [314]:
type((Inscriptos_byPadron['Cod. Carrera']==10) & (Inscriptos_byPadron['Prioridad']<25))

pandas.core.series.Series

In [315]:
filtro_inscriptos=((Inscriptos_byPadron['Cod. Carrera']==10) & (Inscriptos_byPadron['Prioridad']<25))

In [316]:
Inscriptos_byPadron[filtro_inscriptos].head()

,Legajo,Apellido,Nombre,Presentes,Cod_Carrera,Estado,Cod. Carrera,Carrera,Prioridad
95560,95560,CATOLINO,LUCAS,0,Regular,Pendiente,10.0,Ingeniería en Informática,10.0
94181,94181,COLQUE PARIHUANCOLLO,MICHAEL ARNOLD,0,Regular,Pendiente,10.0,Ingeniería en Informática,9.0
100016,100016,GAMARRA,ELIANA ANABELLE,0,Regular,Pendiente,10.0,Ingeniería en Informática,9.0
100608,100608,GIORDANO,FRANCO,0,Regular,Pendiente,10.0,Ingeniería en Informática,18.0
79979,79979,GONZALEZ,JUAN MANUEL,0,Regular,Pendiente,10.0,Ingeniería en Informática,5.0